@media (max-width: 1560px){
  .content{
    margin: 0 250px 0 250px;
  }
}

@media (max-width: 1280px){
  .content{
    margin: 0 150px 0 150px;
  }
  
  .img-box1{
    width: 160px;
    height: 160px;
  }
}

@media (max-width: 860px){
  .content{
    margin: 0 50px 0 50px;
  }

  .img-box1{
    width: 130px;
    height: 130px;
  }
}

@media (max-width: 720px){
  .content{
    margin: 0;
    padding: 25px;
  }

  #home h1{
    font-size: 146px;
  }

  #home h1:hover{
    font-size: 152px;
  }

  #home p{
    font-size: 34px;
  }

  .member-list{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 640px){
  #home h1{
    font-size: 120px;
  }

  #home h1:hover{
    font-size: 126px;
  }

  #home p{
    font-size: 34px;
  }

  #socials{
    margin-top: 150px;
  }

  .social-list{
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .social-one a{
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .social-one a p{
    margin-top: 0;
  }
}

@media (max-width: 480px){
  .navbar{
    display: none;
  }

  #home h1{
    font-size: 80px;
  }

  #home h1:hover{
    font-size: 86px;
  }

  #home p{
    font-size: 22px;
  }

  #about p{
    font-size: 16px;
    margin-bottom: 150px;
  }

  .member-list{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }

  #gallery{
    margin: 500px 0 450px 0;
  }

  .gallery-box{
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  
  .img-box1{
    width: 150px;
    height: 150px;
  }
}
